.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/* //******************************************************************************************** */

.container {
  padding-right: 10px;
  padding-left: 10px;
  margin-right: 5%;
  margin-left: 5%;
}
.LoginArea {
  display: flex;
  justify-content: center;
  font-size: 23px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: forestgreen;
}
.ListItems {
  margin-top: 0px;
  background-color: aliceblue;
}
.NewsEntry {
  margin-top: 5px;
}